<h3>Create a New Comment</h3>

<%= form_with model: @comment, url: user_post_comments_path(@post.author,  @post) do |form| %>
  <div>
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>

  <div>
    <%= form.submit "Create Comment" %>
  </div>
<% end %>