<h1>Create a New Comment</h1>

<%= form_with(model: @comment, url: user_post_comments_path(user_id: @current_user.id, post_id: @post.id), local: true) do |form| %>
  <div>
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>

  <div>
    <%= form.submit "Create Comment" %>
  </div>
<% end %>